/* this are 4he fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

/*bootstrap icon cdn link*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");


body {
    font-size: 15pt;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section{
  background: #fff;
  height: 90vh;
  width: 100%;
  position: relative;
}
section .circle{
  top: 30;
  position: absolute;
  width: 100%;
  height: 90vh;
  background: #DE0F0F;
  clip-path: circle(70% at 10% 0);
}
header{
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  
}
header h2{
  font-family: 'UnifrakturMaguntia', cursive;
  color: #FFFFFF;
}
header i{
  font-size: 35px;
}