/* this are 4he fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/*bootstrap icon cdn link*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");


body {
    font-size: 15pt;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img{
  width: 150px;
  height: 50px;
}
nav i{
  font-size: 35px;
  color: #101A83;
}
#navbar{
  width: 100%;
  height: 100vh;
  background: #021261;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: display 5s linear;
  font-family: 'Ubuntu', sans-serif;
}
ul{
  display: block;
  padding-top: 0;
}
ul li{
  list-style: none;
  color: #FFFFFF;
  margin-bottom: 50px ;
}
ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

#navbar i{
  font-size: 35px;
  color: #FFF;
  position: absolute;
  top: 5px;
  right: 5px;
}