/* this are 4he fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

/*bootstrap icon cdn link*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");


body {
    font-size: 15pt;
    background: url(media/bgpattern.svg);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section{
  background: #FFFFFF00;
  height: 90vh;
  width: 100%;
  position: relative;
}
section .circle{
  top: 30;
  position: absolute;
  width: 100%;
  height: 90vh;
  background: url(media/world.svg);
  clip-path: circle(70% at 45% 0);
  background-size: contain;
  
  
}
header{
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  
}
header h2{
  font-family: 'UnifrakturMaguntia', cursive;
  color: #FFFFFF;
}
header i{
  font-size: 35px;
}
section .text-container{
  position: absolute;
  top:80px;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: bolder;
  left: 20px;
}
section .text-container h1{
 color: red;
 text-shadow: 2px 2px 4px #020850;
 font-family: 'Titan One', cursive;
}
